.movies-card-list {
    margin: 0 auto;
    padding: 80px 70px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
@media screen and (max-width: 769px) {
    .movies-card-list {
      padding-right: 30px;
      padding-left: 30px;
    }
}
@media screen and (max-width: 670px) {
    .movies-card-list {
        padding-top: 50px;
      padding-right: 10px;
      padding-bottom: 80px;
    }
}

.movies-card-list__container {
  padding: 0;
  margin: 0;
    width: 100%;
    display: grid;
    gap: 37px 24px;
    grid-template-columns: repeat(auto-fill,minmax(364px,1fr));
}

@media screen and (max-width: 769px) {
      .movies-card-list__container {
      gap: 30px;
      grid-template-columns: repeat(auto-fill,minmax(339px,1fr));
    }
}
@media screen and (max-width: 670px) {
    .movies-card-list__container {
    gap: 14px;
    grid-template-columns: 1fr;
  }
}

.movies-card-list__button {
    margin-top: 60px;
    padding: 11px 10px 9px;
    width: 100%;
    color: #fff;
    background-color: #2F2F2F;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    }

@media screen and (max-width: 769px) {
    .movies-card-list__button {
          margin-top: 80px;
        }
}

@media screen and (max-width: 670px) {
    .movies-card-list__button {
          margin-top: 77px;
        }
}
















  



 








