.search-form {
  display: flex;
  flex-direction: column;
    min-height: 247px;
  width: 100%;
}

.search-form__container {
  margin: 60px 70px 0;
  width: calc(100% - 140px);
}
@media screen and (max-width: 1240px) {
  .search-form__container {
    margin-top: 80px;
    margin-right: 30px;
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 767px) {
  .search-form__container {
    margin-right: 14px;
    width: calc(100% - 28px);
  }
}
.search-form__form {
  position: relative;
}
.search-form__input {
  padding: 0;
  padding-left: 22px;
  min-height: 46px;
  width: calc(100% - 22px);
  color: #fff;
  background: #2f2f2f;
  border: none;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
}

@media screen and (max-width: 767px) {
  .search-form__input {
    width: calc(100% - 19px);
  }
}

.search-form__submit-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 34px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-image: url("../../images/arrow-find.svg");
  background-size: contain;
}
.search-form__border {
  margin-top: 70px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 769px) {
  .search-form__border {
    margin-top: 50px;
  }
}
