.header {
    width: 100%;
    min-height: 74px;
    display: flex;
    align-items: center;
    }

.header__container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    padding: 0 70px;
    box-sizing: border-box;
    margin: 0 auto;
}
@media screen and (max-width: 769px) {
    .header__container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 670px) {
    .header__container {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.header_type_landing {
    background-color: #073042;
    }

.header__link {
    width: 38px;
    height: 38px;
    }

.header__links-container {
    display: flex;
    align-items: center;

}

.header__logo {
     width: 38px;
    height: 38px;
}

.header__link-register {
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    display: block;
}
@media screen and (max-width: 1023px) {
    .header__link-register {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .header__link-register {
        font-size: 10px;
    }
}
.header__link-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    text-decoration: none;
    border-radius: 3px;
    color: #000000;
    background: #3DDC84;
    border: none;

}
@media screen and (max-width: 1023px) {
    .header__link-auth {
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .header__link-auth {
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
}

.header__links {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 566px) {
    .header__links {
        gap: 14px;
    }
}
