.about-project {
  max-width: 1280px;
  width: 100%;
  padding: 110px 70px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 769px){
  .about-project {
    padding: 90px 50px;
  }
}
@media screen and (max-width: 670px){
  .about-project {
    padding: 70px 18px;
  }
}
.about-project__title {
  margin: 0;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
 }

.about-project__info {
  padding: 70px 0 110px;
  display: grid;
  color: #fff;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media screen and (max-width: 769px){
  .about-project__info {
    padding: 70px 0 93px;
    gap: 30px;
  }
}
@media screen and (max-width: 670px){
  .about-project__info {
    padding: 61px 0 60px;
    grid-template-columns: 1fr;
    gap: 57px;
  }
}

.about-project__info-item {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (max-width: 769px){
  .about-project__info-item {
    gap: 22px;
  }
}
@media screen and (max-width: 670px){
  .about-project__info-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.about-project__info-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.8px;
}
@media screen and (max-width: 670px){
  .about-project__info-title {
   font-size: 18px;
   line-height: 22px;
   letter-spacing: -0.7px;
 }
}

.about-project__info-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 769px){
  .about-project__info-text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 670px){
  .about-project__info-text {
    font-size: 11px;
    line-height: 16px;
  }
}

.about-project__time-info {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
@media screen and (max-width: 769px){
  .about-project__time-info {
    grid-template-columns: 35fr 132fr;
  }
}
@media screen and (max-width: 670px){
  .about-project__time-info {
    grid-template-columns: 25fr 46fr;
  }
}
.about-project__interval {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .about-project__interval {
    gap: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}
@media screen and (max-width: 670px){
  .about-project__time-interval {
    gap: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}
.about-project__time-line {
  padding: 9px 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #3ddc84;
}
@media screen and (max-width: 670px) {
  .about-project__time-line {
    padding: 12px 0 10px;
  }
}
@media screen and (max-width: 670px){
  .about-project__time-line {
   padding: 12px 0 10px;
 }
}
.about-project__time-line_front {
  width: 100%;
  color: #fff;
  background-color: #303030;
}

.about-project__technology {
  color: #8b8b8b;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width: 670px) {
  .about-project__technology {
    line-height: 13px;
  }
}
